<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example0122.demo0122.mapper.SelectInfoMapper">
	<select id="selectInfo" resultType="com.example0122.demo0122.entity.Info">
		select * from info;
	</select>

	<select id="selectInfoById" resultType="com.example0122.demo0122.entity.Info" parameterType="java.lang.Integer">
		select * from info where infoid = #{infoid};
	</select>

	<update id="updateInfo" parameterType="com.example0122.demo0122.entity.Info">
		update info set name = #{info.name},location = #{info.location},keyword = #{info.keyword},
		type = #{info.type},distance = #{info.distance},product = #{info.product},
		picture = #{info.picture} where infoid = #{info.infoid};
	</update>

	<insert id="addInfo" parameterType="com.example0122.demo0122.entity.Info">
		insert into info(name,location,keyword,type,distance,product,picture) values (
		#{info.name},#{info.location},#{info.keyword},#{info.type},#{info.distance},
		#{info.product},#{info.picture});
	</insert>

	<delete id="delInfoById" parameterType="java.lang.Integer">
		delete from info where infoid = #{infoid}
	</delete>

</mapper>
